[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "cask"]
	path = cask
	url = https://github.com/cask/cask.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "vendor/fzf"]
	path = vendor/fzf
	url = https://github.com/junegunn/fzf.git
